{% extends "layouts/master.twig" %}

{% block containerpage %}
<div class="site-wrapper">
  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">isoRocket</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="http://blog.isorocket.com">Blog</a></li>
              <li><a href="#" data-toggle="modal" data-target="#contactModal">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Ready for Launch!</h1>
        <p class="lead">Building apps for tomorrow.</p>
        <p class="lead">
          <a href="#" data-toggle="modal" data-target="#contactModal" class="btn btn-lg btn-default">Contact Us</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>isoRocket © 2016.</p>
        </div>
      </div>

    </div>

  </div>

</div>

{% include "_partials/contact-modal.twig" %}

{% endblock %}